			    <%= link_to "Sign up", new_user_registration_path %> or  
			    <%= link_to "Sign in", new_user_session_path %>   
			     <%= link_to "Sign out", destroy_user_session_path %>   
<h2>Welcome to postermaster</h2>
You are logged in as <%=current_user.email%>


  <div>
    <%= render :partial=>'shared/post', :collection =>current_user.posts%>
    <%= render :partial=>'shared/postform'%>
    <%=button_to 'process posts', :process_posts, {:method=>:get}%>
  </div>

